*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity:0.9;
}

h1, h2, h3, h4, h5, p, a, div, section{
    color: seashell;
    opacity: 0.9;
}


.headerContainer{
    min-height: 69px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 2;
    background-color: black;
}

nav{
    text-align: right;
    flex-grow: 1;
}

nav a{
    display: inline-block;
    padding: 10px 10px 10px 15px;
    font-weight: 500;
}

.imgLogo{
    margin: 8px 0;
    height: 50px;
    margin-left: 10px;
}


/* Main */
/* Mission */

/* A div with the declaration display: flex; will remain block level
— no other elements will appear on the same line as it. */



section.missionContainer{
    width: 100%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}


.missionContent{
    background-image: url(./resources/img-mission-background.jpg);
    width: 100%;
    max-width: 1200px;
    height: 700px;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ourMission{
    background-color: black;
    padding: 8px;
    line-height: 1.5;
    opacity: 0.9;
    width: 100%;

}

h2, h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Tea of the Month */

.teaMonthSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.teaMonthContainer{
    width: 1000px;
    margin: auto;
}

.teaContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.teaMonthTitle{
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.teaPic{
    max-width: 300px;
    max-height: 200px;
    width: 100%;
    margin: 0 auto;
}

figcaption {
    margin-top: 10px;
}

.item{
    padding: 10px;
}

/* Locations */

.locationSection{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.locationsContent{
    background-image: url(./resources/img-locations-background.webp);
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.locationTitle{
    margin-top: 50px;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: center;
    color: seaShell;
}

.locationsContainer{
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
}

.location{
    width: 300px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 30px 0;
    opacity: 1;
}

p{
    padding-bottom: 30px;
    padding-top: 20px;
    color: seashell;
    opacity: 1;
}

/* Footer */

.footerContent{
    padding: 10px;
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footerTitle{
    padding-bottom: 10px;
    flex-grow:1;
}

h5{
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 500;
}

.copyright{
    text-align: left;
    padding-left: 20px;
}
